body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
    left: 100px;
    right:100px;
    top:200px;
    bottom:200px;
    box-shadow: 10px 10px 20px  #888888;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

